
@{
    ViewBag.Title = "拒绝访问";
}

<div class="text-center">
    <h3 class="text-danger">拒绝访问！</h3>
    <h6 class="text-danger">您没有访问此资源的权限！</h6>
    <img src="~/images/禁止通行.jpg" width="300" height="300"/>
</div>