
@{
	ViewBag.Title = "错误";
}

<h3 class="text-danger text-center">
	程序发生内部错误，请联系开发人员。
	<a href="mailto:moshangpengyou@hotmail.com" class="btn btn-link btn-warning">点此发送电子邮件</a>
</h3>

<hr />

@if (ViewBag.ErrorTitle == null)
{
	<div class="text-danger text-center">
		<details>
			<p>错误消息为：@ViewBag.Message</p>
		</details>
	</div>
}
else
{
	<div class="text-center text-danger">
		<h3>@ViewBag.ErrorTitle</h3>
		<details>
			<p>@ViewBag.ErrorMessage</p>
		</details>
	</div>
}

